@import "tailwindcss";

@theme {
  --color-bolivar-green: #006B3F;
  --color-bolivar-yellow: #FFC20E;
  --color-bolivar-dark: #1A1A1A;
  --color-bolivar-gray: #F8F9FA;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bolivar-gray text-bolivar-dark antialiased;
  }
}
